<div class="trainer-new">
  <div class="container">
    <div class="register-form">
      <h2>トレーナー登録情報の編集</h2>

      <!-- 登録失敗した時のエラーメッセージ -->
      <% @trainer.errors.full_messages.each do |message| %>
        <div class="form-error">
          <%= message %>
        </div>
      <% end %>

      <%= form_tag("/trainer/#{@trainer.id}/update", {multipart: true}) do %>
        <p>トレーナー名</p>
        <input name="name" value="<%= @trainer.name %>">
        <p>プロフィール画像</p>
        <input name="image" type="file">
        <p>メールアドレス</p>
        <input name="email" value="<%= @trainer.email %>">
        <p>パスワード</p>
        <input name="password" value="<%= @trainer.password %>">
        <p>得意分野</p>
        <input class="checkbox" type="checkbox" name="speciality[]" value="meal">食事管理<br />
        <input class="checkbox" type="checkbox" name="speciality[]" value="workout">筋トレ指導<br />
        <p>性別</p>
        <select name="gender">
          <option value="男性">男性</option>
          <option value="女性">女性</option>
        </select>
        <p>身長</p>
        <input name="height" value="<%= @trainer.height %>">
        <p>体重</p>
        <input name="weight" value="<%= @trainer.weight %>">
        <p>年齢</p>
        <input name="age" value="<%= @trainer.age %>">

        <p class="register-caution">
          下記の質問は任意で回答してください。
          <br />
          フォロワーとの引き合いを増やすために情報を入力しましょう。
        </p>
        <p>経歴</p>
        <textarea name="career"><%= @trainer.career %>
        </textarea>

        <input class="btn register" type="submit" value=登録情報の編集>
      <% end %>

    </div>
  </div>
</div>
