<div class="trainer-manage-page">
  <div class="container">
    <div class="manage-notification-wrapper">
      <div class="notification-container">
        <span>未返信メッセージ：○件</span>
        <span>/</span>
        <span>フォロワーの数：<%= @approved.length %>人</span>
        <span>/</span>
        <span>コンサルタント申請：<%= @applying.length %>人</span>
      </div>
      <% if @applying.present? %>
        <p>コンサルタント申請一覧</p>
      <% end %>
      <div class="applying-container">
        <% @applying.each do |apply| %>
          <div class="apply">
            <div class="apply-info">
              <span><%= apply.user.name %></span>
              <span>理想体重：<%= apply.user.idealWeight %>kg</span>
            </div>
            <div class="apply-status">
              <%= form_tag("/follower/#{params[:id]}/#{apply.user_id}/approve") do %>
                <input type="submit" class="btn speciality-btn" value="承諾する">
              <% end %>
            </div>
            <div class="clear"></div>
          </div>

        <% end %>
      </div>
    </div>
    <div class="manage-follower-wrapper">
      <% @approved.each do |approve| %>
        <div class="follower-container">
          <div class="follower-info">
            <span><%= approve.user.name %></span>
          </div>
          <div class="follower-status">
            <% if approve.status == 2 %>
              <span class="fa fa-envelope false">未払い</span>
            <% elsif approve.status == 3 %>
              <span class="fa fa-envelope true">契約中</span>
            <% end %>
            <span class="fa fa-envelope true"><a class="true" href="<%= "/chat/#{approve.id}" %>">チャット</a></span>
            <span class="fa fa-envelope false">○ヶ月</span>
          </div>
          <div class="clear"></div>
        </div>
      <% end %>
    </div>
  </div>
</div>
