<div class="trainer-search-page">
  <div class="container">
    <div class="search-engine-wrapper">
      <input placeholder="キーワード入力"><p class="btn fa fa-search"></p>
      <span class="btn speciality-btn">食事管理</span>
      <span class="btn speciality-btn">筋トレ指導</span>
    </div>
    <div class="search-result-wrapper">
      <% @trainers.each do |trainer| %>
        <div class="trainer-container">
          <div class="trainer-container-left">
            <image src="<%= "/trainer_images/#{trainer.image}" %>">
          </div>
          <div class="trainer-container-right">
            <p class="name"><%= trainer.name %></p>
            <span class="l2 gender"><%= trainer.gender %></span>
            <span class="l2 height">身長：<%= trainer.height %></span>
            <span class="l2 weight">体重：<%= trainer.weight %></span>
            <span class="l2 age">年齢：<%= trainer.age %></span>
            <p class="l3 career"><%= trainer.career %></p>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
