<div class="trainer-search-page">
  <div class="container">
    <div class="search-engine-wrapper">
      <%= form_tag("/trainer/search", {method: "get"}) do %>
        <input name="search" placeholder="キーワード入力"><input type="submit" value="&#xf002;" class="btn fas">
        <input name="searchSpeciality" type="submit" class="btn speciality-btn" value="食事管理">
        <input name="searchSpeciality" type="submit" class="btn speciality-btn" value="筋トレ指導">
      <% end %>

    </div>
    <div class="search-result-wrapper">
      <% @trainers.each do |trainer| %>
        <a href="/trainer/<%= trainer.id %>" class="trainer-container">
          <div class="trainer-container-left">
            <image src="<%= "/trainer_images/#{trainer.image}" %>">
          </div>
          <div class="trainer-container-right">
            <p class="name"><%= trainer.name %></p>
            <span class="l2 gender"><%= trainer.gender %></span>
            <span class="l2 height">身長：<%= trainer.height %></span>
            <span class="l2 weight">体重：<%= trainer.weight %></span>
            <span class="l2 age">年齢：<%= trainer.age %></span>
            <p class="l3 career"><%= trainer.career %></p>
          </div>
        </a>
      <% end %>
    </div>
  </div>
</div>
