<div class="trainer-page">
  <div class="container">

    <div class="trainer-description">
      <div class="trainer-description-left">
        <div class="image-wrapper">
          <% if @trainer.image %>
            <image src="<%= "/trainer_images/#{@trainer.image}" %>">
          <% else %>
            <p>まだ画像はアップロードされていません。</p>
          <% end %>
        </div>
      </div>
      <div class="trainer-description-right">
        <div class="status-wrapper">
          <% if session[:trainer_id] %>
            <% if @current_user.id == @trainer.id %>
              <a href="/trainer/<%= @trainer.id %>/edit" class="btn show-page-btn">編集する</a>
            <% end %>
          <% end %>

          <% if session[:user_id] %>
            <% if Follower.find_by(user_id: @current_user.id, trainer_id: @trainer.id) %>
              <span class="btn show-page-btn false">申込済み</span>
            <% else %>
              <p class="btn show-page-btn"><%= link_to("申し込む", "/follower/#{@trainer.id}/create", {method: "post"})%></p>
            <% end %>
          <% end %>

          <div class="status name">
            <span>名前：</span><%= @trainer.name %>
          </div>
          <div class="status gender">
            <span>性別：</span><%= @trainer.gender %>
          </div>
          <div class="status height">
            <span>身長：</span><%= @trainer.height %>
          </div>
          <div class="status weight">
            <span>体重：</span><%= @trainer.weight %>
          </div>
          <div class="status age">
            <span>年齢：</span><%= @trainer.age %>
          </div>
          <div class="status career">
            <span>経歴：</span><%= @trainer.career %>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
