<!DOCTYPE html>
<html>
  <head>
    <title>MyTrainer</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  </head>

  <!-- ヘッダー部分 -->
  <header>
    <div class="container">
      <div class="header-left">
        <p>マイトレ</p>
      </div>
      <div class="header-right">
        <!-- トレーナーログイン時 -->
        <% if session[:trainer_id] %>
          <%= link_to(@current_user.name, "/")%>
          <%= link_to("他のトレーナーを検索", "/") %>
          <%= link_to("ログアウト", "trainer/logout", method: :post) %>
        <!-- ユーザーログイン時 -->
        <% elsif session[:user_id] %>
          <%= link_to(@current_user.name, "/")%>
          <%= link_to("トレーナーを検索", "/") %>
          <%= link_to("ログアウト", "user/logout", method: :post) %>
        <!-- ログインしていない状態 -->
        <% else %>
          <%= link_to("トレーナーを検索", "/") %>
          <span id="login-show">ログイン</span>
        <% end %>
      </div>
    </div>
  </header>
  <!-- /header -->

  <body>
    <!-- フラッシュ -->
    <% if flash[:notice] %>
      <div class="flash">
        <%= flash[:notice] %>
      </div>
    <% end %>

    <!-- 新規登録のふるい分け -->
    <div class="signup-modal" id="signup-modal">
      <div class="modal">
        <div class="close-modal">
          <i class="fa fa-2x fa-times"></i>
        </div>
        <h2>新規会員登録</h2>
        <div class="modal-contents">
          <p>一般のユーザーは<br />コチラ</p>
          <a  class="btn signup" href="user/new">ユーザー登録</a>
        </div>
        <div class="modal-contents">
          <p>トレーナーは<br />コチラ</p>
          <a  class="btn signup" href="trainer/new">トレーナー登録</a>
        </div>
      </div>
    </div>

    <!-- ログインのふるい分け -->
    <div class="login-modal" id="login-modal">
      <div class="modal">
        <div class="close-modal">
          <i class="fa fa-2x fa-times"></i>
        </div>
        <h2>ログイン</h2>
        <div class="modal-contents">
          <p>一般のユーザーは<br />コチラ</p>
          <a  class="btn signup" href="user/userLogin">ユーザーログイン</a>
        </div>
        <div class="modal-contents">
          <p>トレーナーは<br />コチラ</p>
          <a  class="btn signup" href="trainer/trainerLogin">トレーナーログイン</a>
        </div>
      </div>
    </div>

    <%= yield %>
    <script src="application.js"></script>
  </body>
</html>
