<!DOCTYPE html>
<html>
  <head>
    <title>MyTrainer</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">

  </head>

  <!-- ヘッダー部分 -->
  <header>
    <div class="container">
      <div class="header-left">
        <p>マイトレ</p>
      </div>
      <div class="header-right">
        <!-- トレーナーログイン時 -->
        <% if session[:trainer_id] %>
          <% current_user = Trainer.find_by(id: session[:trainer_id]) %>
          <%= link_to(current_user.name, "/")%>
          <%= link_to("他のトレーナーを検索", "/") %>
          <%= link_to("ログアウト", "trainer/logout", method: :post) %>
        <!-- ユーザーログイン時 -->
        <% elsif session[:user_id] %>
          <% current_user = User.find_by(id: session[:user_id]) %>
          <%= link_to(current_user.name, "/")%>
          <%= link_to("トレーナーを検索", "/") %>
          <%= link_to("ログアウト", "user/logout", method: :post) %>
        <!-- ログインしていない状態 -->
        <% else %>
          <%= link_to("トレーナーを検索", "/") %>
          <%= link_to("ログイン", "/") %>
        <% end %>
      </div>
    </div>
  </header>
  <!-- /header -->

  <body>
    <% if flash[:notice] %>
      <div class="flash">
        <%= flash[:notice] %>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>
